#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.
#
# Entries in this file show the compile time defaults.
# You can change settings by editing this file.
# Defaults can be restored by simply deleting this file.
#
# See journald.conf(5) for details.

[Journal]
Storage={{ journald_cfg_storage | default('auto') }}
Compress={{ journald_cfg_compress | default(true) }}
Seal={{ journald_cfg_seal | default(true) }}
SplitMode={% if journald_cfg_split_mode %}uid{% else %}none{% endif %}
SyncIntervalSec={{ journald_cfg_sync_interval_sec | default('5m') }}
RateLimitIntervalSec={{ journald_cfg_rate_limit_interval_sec | default('30s') }}
RateLimitBurst={{ journald_cfg_rate_limit_burst | default(10000) }}
SystemMaxUse={{ journald_cfg_system_max_use | default('500M') }}
SystemKeepFree={{ journald_cfg_system_keep_free | default('') }}
SystemMaxFileSize={{ journald_cfg_system_max_file_size | default('') }}
SystemMaxFiles={{ journald_cfg_system_max_files | default(100) }}
RuntimeMaxUse={{ journald_cfg_runtime_max_use | default('500M') }}
RuntimeKeepFree={{ journald_cfg_runtime_keep_free | default('') }}
RuntimeMaxFileSize={{ journald_cfg_runtime_max_file_size | default('') }}
RuntimeMaxFiles={{ journald_cfg_runtime_max_files | default(100) }}
MaxRetentionSec={{ journald_cfg_max_retention_sec | default('') }}
MaxFileSec={{ journald_cfg_max_file_sec | default('1month') }}
ForwardToSyslog={{ journald_cfg_forward_to_syslog | default(true) }}
ForwardToKMsg={{ journald_cfg_forward_to_k_msg | default(false) }}
ForwardToConsole={{ journald_cfg_forward_to_console | default(false) }}
ForwardToWall={{ journald_cfg_forward_to_wall | default(true) }}
TTYPath={{ journald_cfg_tty_path | default('/dev/console') }}
MaxLevelStore={{ journald_cfg_max_level_store | default('debug') }}
MaxLevelSyslog={{ journald_cfg_max_level_syslog | default('debug') }}
MaxLevelKMsg={{ journald_cfg_max_level_k_msg | default('notice') }}
MaxLevelConsole={{ journald_cfg_max_level_console | default('info') }}
MaxLevelWall={{ journald_cfg_max_level_wall | default('emerg') }}
LineMax={{ journald_cfg_line_max | default('48K') }}
ReadKMsg={{ journald_cfg_read_k_msg | default(true) }}
Audit={{ journald_cfg_audit | default(false) }}
